@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ 
    IPublishedContent btnlink;
    string startlink = "";
    if(Model.Value("startButtonLink") != null)
    {
        btnlink = (IPublishedContent)Model.GetProperty("startButtonLink").Value();
        startlink = btnlink.Url;
    }
    else
    {
        startlink = "#";
    }
    var headerClass = Model.Level == 1 ? "Biztechnosys" : Model.Level == 2 ? Model.Name : Model.Level == 3 ? (Model.Parent.Name.ToLower() == "services" ? Model.Name : Model.Parent.Name) : Model.Level == 4 ? (Model.Parent.Parent.Name.ToLower() == "services" ? Model.Parent.Name : Model.Parent.Parent.Name) : "Biztechnosys";
    Boolean status = Model.Name.ToLower() == "work" ? true : false;
}   

<section id="getStarted" class="container-fluid @headerClass.ToLower()_contact">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h4 class="black_text">@Model.GetProperty("startHeading").Value()</h4>
            <p class="p_text">@Model.GetProperty("startSubHeading").Value()</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 contact_btn">
            <a href="@startlink" class="btn black_border black_text" role="button">@Model.GetProperty("startButtonText").Value()</a>
        </div>
    </div>
</section>