@inherits Umbraco.Web.Mvc.UmbracoViewPage
@*
    This is a link to refer about some related content.
    https://our.umbraco.com/Documentation/Reference/Templating/Macros/Partial-View-Macros/
*@

@{
    var site = Model.Root();
    var selection = site.Children.Where(x => x.Id == 1258 || x.Id == 1259);
}

<div class="page_footer container-fluid footer_color">
    <div class="container text-md-left">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 footer_menu">
                <h6 class="">Quick Links</h6>
                <ul class="list-unstyled">
                    @{
                        var QuickLink = (List<IPublishedContent>)site.GetProperty("quickLinks").Value();
                        foreach (var item in QuickLink)
                        {
                            <li>
                                <a href="@item.Url" class="black_text">@item.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 footer_contact">
                <h6 class="">Contact Us</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="tel:@site.Value("mobileNo")" class="black_text"><i class="fas fa-mobile-alt"></i><span>@site.Value("mobileNo")</span></a>
                    </li>
                    <li>
                        <a href="mailto:@site.Value("email")" class="black_text"><i class="fas fa-envelope"></i><span>@site.Value("email")</span></a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 social_menu">
                <h6 class="">Stay Connected</h6>
                <ul class="list-unstyled list-inline">
                    @{
                        var links = (List<Umbraco.Web.Models.Link>)site.GetProperty("externalLinks").Value();
                        if (links.Count() > 0)
                        {
                            var typedMultiMediaPicker = site.Value<IEnumerable<IPublishedContent>>("socialIcons");

                            foreach (var item in links)
                            {
                                var imageItem = typedMultiMediaPicker.FirstOrDefault(x => x.Name == item.Name); <!--Instead of using second For Loop we used Lamda Expression to make our code runs faster. Try to skip two for loops in your code.-->
                                <li class="list-inline-item">
                                    <a rel="noreferrer" href="@item.Url" target="@item.Target">
                                        <img src="@imageItem.Url" data-toggle="tooltip" title="@item.Name" class="img-fluid" alt="@imageItem.Value("altText")">
                                    </a>
                                    <!-- Instead of using rel="stylesheet" I am using rel= "noopener" or rel= "noreferrer" to all External Links to improve performance and prevent security vulnerabilities. -->
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="black_back">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright-menu">
                        <ul class="list-unstyled list-inline">
                            @{
                                foreach (var item in selection)
                                {
                                    <li class="list-inline-item">
                                        <a href="@item.Url" class="white_text">@item.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-md-first">
                    <p class="footer_color_text">
                        Copyright <i class="far fa-copyright"></i> 2019, All Right Reserved
                        <a href="@site.Url" class="footer_color_text"> @site.Name</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/circleslider.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/counterAnimation.js"></script>
<script src="~/js/toggleAndWindowscroll.js"></script>

<script>
    $(document).ready(function () {
        $(".wlcm_slide").addClass("animation");
        $(".service_s").addClass("animation_service_s");
        $(".service_u").addClass("animation_service_u");
        $(".service_c").addClass("animation_service_c");
    });
</script>



