@inherits Umbraco.Web.Mvc.UmbracoViewPage
@*
    This is a link to refer about some related content.
    https://our.umbraco.com/Documentation/Reference/Templating/Macros/Partial-View-Macros/
*@

@{
    var site = Model.Root();
    var selection = site.Children.Where(x => x.Id == 1258 || x.Id == 1259);
}

<div class="page_footer container-fluid footer_color">
    <div class="container-fluid text-md-left">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-12">
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 social_menu">
                <h6 class="">Stay Connected</h6>
                <ul class="list-unstyled list-inline" style="margin:0px;padding:0px">
                    @{
                        var links = (List<Umbraco.Web.Models.Link>)site.GetProperty("externalLinks").Value();
                        if (links.Count() > 0)
                        {
                            var typedMultiMediaPicker = site.Value<IEnumerable<IPublishedContent>>("socialIcons");

                            foreach (var item in links)
                            {
                                var imageItem = typedMultiMediaPicker.FirstOrDefault(x => x.Name == item.Name); <!--Instead of using second For Loop we used Lamda Expression to make our code runs faster. Try to skip two for loops in your code.-->
                                <li class="list-inline-item">
                                    <a rel="noreferrer" href="@item.Url" target="@item.Target">
                                        <img src="@imageItem.Url" data-toggle="tooltip" title="@item.Name" class="img-fluid" alt="@imageItem.Value("altText")">
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer_menu">
                <h6 class="">Library</h6>
                <ul class="list-unstyled" style="margin:0px;padding:0px">
                    <li><a href="/work/case-study/" class="black_text">CaseStudies</a></li>
                    <li><a href="/about/blogs/" class="black_text">Blogs</a></li>
                </ul>
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer_menu">
                <h6 class="">Quick Links</h6>
                <ul class="list-unstyled" style="margin:0px;padding:0px">
                    @{
                        var QuickLink = (List<IPublishedContent>)site.GetProperty("quickLinks").Value();
                        foreach (var item in QuickLink)
                        {
                            <li>
                                <a href="@item.Url" class="black_text">@item.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer_contact">
                <h6 class="">@Umbraco.Content(1092).Name</h6>
                <ul class="list-unstyled" style="margin:0px;padding:0px">
                    @{ 
                        foreach(var serviceLinks in Umbraco.Content(1092).Children)
                        {
                            <li>
                                <a href="@serviceLinks.Url" class="black_text">@serviceLinks.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-2 col-md-2 col-sm-12 col-12 footer_contact">
                <h6 class="">Contact Us</h6>
                <ul class="list-unstyled" style="margin:0px;padding:0px">
                    <li>Biztechnosys Infotech Pvt Ltd.</li>
                    <li>
                        <a href="tel:@site.Value("mobileNo")" class="black_text"><i class="fas fa-mobile-alt"></i><span>@site.Value("mobileNo")</span></a><br />
                        <a href="tel:+919740933011" class="black_text"><i style="visibility:hidden"> /t</i><span>+91 9740933011</span></a>
                    </li>
                    <li>
                        <a href="mailto:@site.Value("email")" class="black_text"><i class="fas fa-envelope"></i><span>@site.Value("email")</span></a>
                        <a href="mailto:hr@biztechnosys.com" class="black_text"><i style="visibility:hidden">/t..</i><span>hr@biztechnosys.com</span></a>
                    </li>
                    <br />
                    <li>HR Related Concerns:</li>
                    <li><a href="tel:+919743722882" class="black_text"><i class="fas fa-phone-volume"> </i><span>+91 9743722882</span></a></li>
                    <br />
                    <li>IT Related Concers:</li>
                    <li>
                        <a href="tel:@site.Value("mobileNo")" class="black_text"><i class="fas fa-phone-volume"></i><span>@site.Value("mobileNo")</span></a><br />
                        <a href="tel:+919740933011" class="black_text"><i style="visibility:hidden"> /t</i><span>+91 9740933011</span></a>
                    </li>
                </ul>
            </div>
            <hr class="clearfix d-md-none">
            <div class="col-lg-1 col-md-1 col-sm-12 col-12">
            </div>
        </div>
    </div>
</div>
<div class="black_back">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright-menu">
                        <ul class="list-unstyled list-inline">
                            @{
                                foreach (var item in selection)
                                {
                                    <li class="list-inline-item">
                                        <a href="@item.Url" class="white_text">@item.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 order-md-first">
                    <p class="footer_color_text">
                        Copyright <i class="far fa-copyright"></i> @site.Value("copyrightYear"), All Right Reserved
                        <a href="@site.Url" class="footer_color_text"> @site.Name</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".wlcm_slide").addClass("animation");
        $(".service_s").addClass("animation_service_s");
        $(".service_u").addClass("animation_service_u");
        $(".service_c").addClass("animation_service_c");
    });
</script>



