@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BlogPost>
@using ContentModels = ProjectNamespace.PublishedContentModels;
@{
    Layout = "master.cshtml";
    var blogImage = (IPublishedContent)Model.GetProperty("blogImage").Value();
    var altText =(string)(blogImage.Value("altText").ToString() != "" ? blogImage.Value("altText") : blogImage.Name );
}
@Umbraco.RenderMacro("serviceNav")

<section class="page_breadcrumb blog_breadcrumb contact_breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black_text" href="@Model.Parent.Parent.Url">@Model.Parent.Parent.Name</a>
                        <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black_text" href="@Model.Parent.Url">@Model.Parent.Name</a>
                        <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black_text" href="javascript:void(0)">@Model.Name</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="container blog_wrapper cms_services">
    <div class="row contact_form">
        <div class="col-lg-8 col-md-7 col-sm-12 col-12 blog_detail">
            <div class="row blog_post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="blog_title">
                        <h2 class="black_text">
                            <strong> @Model.Name</strong>
                        </h2>
                        <div class="post_date">
                            <ul class="list-unstyled">
                                <li>@Model.CreateDate.ToString("MMMM dd, yyyy")</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="blog_img">
                        <img src="@blogImage.Url" class="img-fluid" alt="@altText">
                    </div>
                </div>
                @Model.Value("fullwidthContent")
            </div>
            @Html.Partial("~/Views/ReplyUs/onReplyUs.cshtml", new Biztechnosys.Umbraco.Website.Models.ReplyUs())
            @*@Html.Partial("_LeaveReply")*@
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-12 text-left">
            <div class="submit_req">
                <h2 class="black_text">Request for Quote</h2>
                <p class="p_text ">Drop us a line and we'll get in touch with you as quick as we can</p>
                @*@Html.Partial("_Contact")*@
                @Html.Partial("~/Views/Contact/ContactUs.cshtml", new Biztechnosys.Umbraco.Website.Models.ContactModel())

            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('SubmitButton').classList.add("about_them_color");
    document.getElementById('SubmitButton').classList.add("about_border");
</script>