@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.InnerDetailPage>
@using ContentModels = ProjectNamespace.PublishedContentModels;
@using System.Globalization;
@using Biztechnosys.Umbraco.Website.Email_Service;
@{
    Layout = "master.cshtml";
    var pageIcon = (IPublishedContent)Model.Parent.GetProperty("pickedIcon").Value();
    var caseStudyIcon = (IPublishedContent)Model.GetProperty("caseStudyIcon").Value();
    var btnslinks = (IPublishedContent)Model.Value("buttonLink");
    var btns_links = (btnslinks == null) ? "#" : btnslinks.Url;
    var altText = "";
}

@Umbraco.RenderMacro("ServiceNav")

@{
    if (Model.Parent.Parent.Name.ToLower() == "work")
    {
        <section class="client_cs_wrapper">
            <div class="row title_slider">
                <div class="col-lg-7 col-md-7 col-sm-7 col-12 ">
                    <div class="service_name">
                        <h1 class="page_title work_text"><b>@Model.Value("heading")</b></h1>
                        <h2 class="black_text">@Model.Value("subHeading")</h2>
                        <div class="work_btn">
                            <a href="@btns_links" class="btn contact_orange_btn work_border work_them_color white_text" role="button">@Model.Value("buttonText")</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-12 ">
                    <div class="slider_logo">
                        @if (Model.HasValue("caseStudyIcon"))
                        {
                            altText = (string)(caseStudyIcon.Value("altText").ToString() != "" ? caseStudyIcon.Value("altText") : caseStudyIcon.Name);
                            <img src="@caseStudyIcon.Url" class="img-fluid" alt="@altText">
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="page_breadcrumb casestudy_breadcrumb cms_breadecrumb">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="black_text" href="@Model.Parent.Parent.Url">@Model.Parent.Parent.Name</a>
                                <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="black_text" href="@Model.Parent.Url">@Model.Parent.Name</a>
                                <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="black_text" href="javascript:void(0)">@Model.Name</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid cms_services">
            <div class="biz_service ind_list">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-12 consumer_form">
                        <div class="submit_req">
                            <h2 class="black_text text-center">Request for Quote</h2>
                            <p class="p_text">Drop us a line and we'll get in touch with you as quick as we can</p>
                            @Html.Partial("~/Views/Contact/ContactUs.cshtml", new Biztechnosys.Umbraco.Website.Models.ContactModel())
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-12 client_detail">
                        @Model.Value("pageContent")
                    </div>
                </div>
            </div>
        </section>

        @Model.Value("mainContent")
        @Html.Partial("~/Views/FileDownload/OnFileDownload.cshtml")
    }
    else if (Model.Parent.Parent.Name.ToLower() == "services")
    {
        var cssClassName = Model.Parent.Name.ToLower() == "data science" ? "data" : Model.Parent.Name.ToLower();
        var secClass = Model.Parent.Name.ToLower() == "data science" ? "cms_data_science" : "cms_" + cssClassName;
        <!--pageIcon is used inside this section-->
        <section class="@secClass">
            <div class="row title_slider">
                <div class="col-lg-7 col-md-7 col-sm-7 col-12 ">
                    <div class="service_name">
                        <h1 class="page_title @cssClassName.ToLower()_text"><b>@Model.GetProperty("heading").Value()</b></h1>
                        <h2 class="black_text">@Model.GetProperty("subHeading").Value()</h2>
                        <div class="work_btn">
                            <a href="@btns_links" class="btn contact_orange_btn @cssClassName.ToLower()_them_color @cssClassName.ToLower()_border white_text" role="button">@Model.GetProperty("buttonText").Value()</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-5 col-12 ">
                    <div class="slider_logo">
                        @{
                            if (pageIcon != null)
                            {
                                altText = (string)(pageIcon.Value("altText") != null ? pageIcon.Value("altText") : pageIcon.Name);
                            }
                            else
                            {
                                altText = "";
                            }
                            if (pageIcon != null)
                            {
                                <img src="@pageIcon.Url" class="img-fluid" alt="@altText">
                            }
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="page_breadcrumb @cssClassName.ToLower()_breadcrumb cms_breadecrumb">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="black_text" href="@Model.Parent.Parent.Url">@Model.Parent.Parent.Name</a>
                                <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="black_text" href="@Model.Parent.Url">@Model.Parent.Name</a>
                                <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="black_text" href="javascript:void(0)">@Model.Name</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid">
            <div class="@cssClassName.ToLower()_services cms_services biz_service">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-12 consumer_form">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="our_service">
                                    <h2 class="black_text text-center">@Model.Parent.Name CMS Services</h2>
                                    <ul>
                                        @{
                                            var selection = Model.Parent.Children.Where(x => x.IsVisible());
                                        }
                                        @foreach (var item in selection)
                                        {
                                            <li>
                                                <a href="@item.Url">@item.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="submit_req">
                                    <h2 class="black_text text-center">Request for Quote</h2>
                                    <p class="p_text">Drop us a line and we'll get in touch with you as quick as we can</p>
                                    @Html.Partial("~/Views/Contact/ContactUs.cshtml", new Biztechnosys.Umbraco.Website.Models.ContactModel())
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                        @Model.Value("pageContent")
                    </div>
                </div>
            </div>
        </section>

        @Model.Value("mainContent")
    }
    else if (Model.Parent.Parent.Name.ToLower() == "about")
    {
        @*Facebook Sharing*@
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <section class="contact_wrapper skill">
            <div class="row title_slider">
                <div class="col-lg-7 col-md-7 col-sm-7 col-12 ">
                    <div class="service_name">
                        <h1 class="page_title about_text"><b>@Model.Value("jobTitle")</b></h1>
                        <h2 class="black_text">@Model.Value("jobDescription")</h2>
                        <div class="work_btn">
                            <a href="#" class="btn contact_orange_btn about_border white_text about_them_color" role="button" data-toggle="modal" data-backdrop="static" data-target="#biz_requirement">Apply For This Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container biz_service text-left cms_services skill">
            <div class="row inner_des">
                <div class="col-lg-8 col-md-7 col-sm-12 col-12">
                    <div class="row social_menu">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="list-unstyled list-inline">
                                <p class="list-inline-item">SHARE : </p>
                                <div class="fb-share-button" data-href="http://biztechnosys.com/" data-layout="button_count">
                                </div>

                                <div class="twitter-share-button">
                                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </div>

                                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                                <script type="IN/Share" data-url="http://biztechnosys.com/">
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2>You will be responsible for</h2>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <ul class="list-unstyled">
                                <li> Strong experience in architecture of Java.</li>
                                <li>Strong understanding of large scale distributed architectures, reactive </li>
                                <li>
                                    programming paradigms, design patterns, application development processes and
                                    practices
                                </li>
                                <li>Should have strong understanding of transactional databases, and of multiple </li>
                                <li>types of NoSQL databases like Cassandra/MongoDB</li>
                                <li>Knowledge of Elasticsearch or Lucene</li>
                                <li>Understanding of Spring & Play framework</li>
                                <li>Knowledge of Kafka or any other queue implementation</li>
                                <li>Should have strong understanding of transactional databases, and of multiple </li>
                                <li>types of NoSQL databases like Cassandra/MongoDB</li>
                                <li>Knowledge of Elasticsearch or Lucene</li>
                                <li>Understanding of Spring & Play framework</li>
                                <li>Knowledge of Kafka or any other queue implementation</li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 work_btn">
                            <a href="#biz_requirement" class="btn contact_orange_btn about_border white_text about_them_color" role="button" data-toggle="modal">Apply For This Job</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-12 open_pstn">
                    <!--            <div class="">-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <h3 class="">Job For You</h3>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            var jobList = Model.Parent.Children.Where(x => x.IsVisible());
                        }
                        @foreach (var job in jobList)
                        {
                            DateRepresentation dateRepresentation = new DateRepresentation();
                            if (Convert.ToInt32(job.Value("seatsAvailable").ToString()) > 0)
                            {
                                IPublishedContent redirectUs = job.Value<IPublishedContent>("redirectMe");
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="spc_req">
                                        <p><strong>Department : @job.Value("departmentName")</strong></p>
                                        @if (redirectUs != null)
                                        {
                                            <a href="@redirectUs.Url">
                                                <h4 class="opening_position">@job.Value("jobTitle")</h4>
                                            </a>
                                        }
                                        else
                                        {
                                            <h4>@job.Value("jobTitle")</h4>
                                        }
                                        <p class="experiance">@job.Value("requiredExperiance")</p>
                                        <p class="spe_des">Job Type : @job.Value("jobType")</p>
                                        <p class="spe_des">Vacancies : <strong>@job.Value("seatsAvailable")</strong></p>
                                        <div>
                                            <p class="spe_post_date" style="text-align:right;font-family:Cambria;color:gray">@dateRepresentation.OurFormat(@redirectUs.UpdateDate)</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-right more_job">
                            <a href="@Model.Parent.Url" role="button" class="about_text ">VIEW MORE <span><i class="far fa-arrow-alt-circle-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-lg-12">
                <div class="modal fade" id="biz_requirement">
                    <div class="modal-dialog modal-dialog-centered consumer">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="row mt-3">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h5 class="text-left about_text">Please fill your details</h5>
                                        @Html.Partial("~/Views/Apply/ApplyNow.cshtml", new Biztechnosys.Umbraco.Website.Models.ApplyNowModel())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    else  // code for product section
    {
        <section class="page_breadcrumb product_breadcrumb blog_breadcrumb cms_breadecrumb">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="black_text" href="@Model.Parent.Parent.Url">@Model.Parent.Parent.Name</a>
                                <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="black_text" href="@Model.Parent.Url">@Model.Parent.Name</a>
                                <i class="fa fa-angle-right mx-2 black_text" aria-hidden="true"></i>
                            </li>
                            <li class="breadcrumb-item">
                                <a class="black_text" href="javascript:void(0)">@Model.Name</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="container prdt_title">
            @Model.Value("pageContent")
        </section>
        <section class="container">
            @Model.Value("mainContent")
        </section>
    }
}

@if (Model.Value("startButtonText") != null && Model.Value("startButtonText").ToString() != "")
{
    @Html.Partial("_GetStarted")
}

@Html.Partial("_footerBanner")

@*
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
*@
<script src="~/js/internalscript.js"></script>
<script>
    $(document).on('click', '.card-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('card-collapsed')) {
            $this.parents('.card').find('.card-body').slideDown();
            $this.addClass('card-collapsed');
            $this.find('i').removeClass('fas fa-angle-down').addClass('fas fa-angle-up');

        } else {
            $this.parents('.card').find('.card-body').slideUp();
            $this.removeClass('card-collapsed');
            $this.find('i').removeClass('fas fa-angle-up').addClass('fas fa-angle-down');

        }
    });
</script>

