@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Web.Optimization;
@using System.Text;
@{
    @*for facebook pixel    https://www.facebook.com/business/help/952192354843755?id=1205376682832142  *@
    Layout = null;
    var Title = Model.Level == 1 ? Model.Root().Name.ToUpper().ToString() : Model.Level == 2 ? Model.Root().Name.ToUpper().ToString() + " | " + Model.Name.ToUpper().ToString() : Model.Level == 3 ? Model.Root().Name.ToUpper().ToString() + " | " + Model.Parent.Name.ToUpper().ToString() + " | " + Model.Name.ToUpper().ToString() : Model.Root().Name.ToUpper().ToString() + " | " + Model.Parent.Parent.Name.ToUpper().ToString() + " | " + Model.Parent.Name.ToUpper().ToString() + " | " + Model.Name.ToUpper().ToString();
    var title = Model.HasProperty("pageTitle") ? Model.GetProperty("pageTitle").Value().ToString() : Title;
    var metaDescription = Model.HasProperty("metaDescription") ? Model.GetProperty("metaDescription").Value().ToString() : "Biztechnosys";
    var keywords = "";
    var canonicalUrl = (Model.HasValue("canonicalUrl")) ? Model.Value("canonicalUrl") : "";
    try
    {
        if (Model.GetProperty("metaKeywords") != null)
        {
            foreach (var tag in Model.GetProperty("metaKeywords").Value<IEnumerable<string>>())
            {
                StringBuilder builder = new StringBuilder();
                builder.Append(tag);
                builder.Append(",");
                keywords += builder.ToString();
            }
            keywords = keywords.Substring(0, keywords.Length - 1);
        }
    }
    catch (Exception)
    {
        keywords = "";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @Html.Partial("_OpenGraph")
    <title> @title  </title>
    <meta name="description" content="@metaDescription" />
    <meta name="keywords" content="@keywords" />
    <link rel="canonical" href="@canonicalUrl">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" async></script>    <!--To remove "Aos id not defined Error"-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" async></script>   <!--To remove "wow is not defined Error"-->
    <link rel="shortcut icon" href="~/image/biztechnosys/favicon_logo1.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" async></script>
    @Styles.Render("~/bundles/site.css")
</head>

<body>

    @Html.Partial("HeaderNavigation")

    @RenderBody()

    <!--social media sticky bar-->
    <div class="social_media_section">
        @Umbraco.RenderMacro("StickyBar")
    </div>

    <!--footer section-->
    <section class="footer_section">
        @Html.Partial("Footer", Model)
    </section>

    <!--Form 1-->
    <div class="row">
        <div class="col-lg-12">
            <div class="modal fade" id="biz_quate">
                <div class="modal-dialog modal-dialog-centered consumer">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" onclick="document.location.reload(true);">&times;</button>
                            <div class="row mt-3">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <h5 class="text-center them_text">Please fill in your details</h5>
                                    @Html.Partial("~/Views/Contact/OnQuoteRequest.cshtml", new Biztechnosys.Umbraco.Website.Models.ContactModel())
                                    @*@Html.Partial("_OnQuoteRequest")*@
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 quote_req">
                                    <img src="@Umbraco.Media("1477").Url" class="img-fluid" alt="@Umbraco.Media("1477").Value("altText")">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Form 2-->
    <div class="row">
        <div class="col-lg-12">
            <div class="modal fade" id="biz_consumer">
                <div class="modal-dialog modal-dialog-centered consumer">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" onclick="document.location.reload(true);">&times;</button>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 quote">
                                    <h5 class="them_text">
                                        Biztechnosys has delivered projects across verticals, with its office in Bangalore has served clients around the globe.
                                        Why Biztechnosys?
                                    </h5>
                                    <ul>
                                        <li>Competitive prices</li>
                                        <li> Customized solutions</li>
                                        <li>Excellent track record in project delivery</li>
                                        <li> Diversified and talented work-pool</li>
                                    </ul>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <img src="@Umbraco.Media("1476").Url" class="img-fluid" alt="@Umbraco.Media("1476").Value("altText")">
                                    </div>
                                    @Html.Partial("~/Views/OurDemo/OnDemoRequest.cshtml", new Biztechnosys.Umbraco.Website.Models.OurDemoModel())
                                    @*@Html.Partial("_OnDemoRequest")*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    @Scripts.Render("~/bundles/sitejs.js")

    <script>
        window.onload = function () {
            @{
                var modelName = Model.Level == 2 ? Model.Name : Model.Level == 3 ? (Model.Parent.Name.ToLower() == "services" ? Model.Name : Model.Parent.Name) : Model.Level == 4 ? (Model.Parent.Parent.Name.ToLower() == "services" ? Model.Parent.Name : Model.Parent.Parent.Name) : "";
                modelName = modelName.ToLower() == "data science" ? "data" : modelName;
                var cssClass1 = modelName.ToLower().ToString() + "_them_color";
                var cssClass2 = modelName.ToLower().ToString() + "_border";
            }
        var element1 = document.getElementById("DemoBtn_Mobile");
        if (typeof (element1) != 'undefined' && element1 != null) {
            element1.classList.add("@cssClass1");
            element1.classList.add("@cssClass2");
        }

        element1 = document.getElementById("RequestBtn_Mobile");
        if (typeof(element1) != 'undefined' && element1 != null) {
            element1.classList.add("@cssClass1");
            element1.classList.add("@cssClass2");
        }

        element1 = this.document.getElementById("SubmitButton");
        if (typeof(element1) != 'undefined' && element1 != null) {
            element1.classList.add("@cssClass1");
            element1.classList.add("@cssClass2");
        }

        element1 = this.document.getElementById("RequestBtn");
        if (typeof(element1) != 'undefined' && element1 != null) {
            element1.classList.add("@cssClass1");
            element1.classList.add("@cssClass2");
        }

        element1 = this.document.getElementById("DemoBtn");
        if (typeof(element1) != 'undefined' && element1 != null) {
            element1.classList.add("@cssClass1");
            element1.classList.add("@cssClass2");
        }
    }
    </script>
</body>
</html>