@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ 
    var name = Model.Name.ToLower() == "contact us" ? Model.Parent.Name : Model.Name;
    name = Model.Name.ToLower() == "careers" ? Model.Parent.Name : Model.Name;
    var selectedIcon = Model.Value<IPublishedContent>("pickedIcon");
}
<section class="@name.ToLower()_wrapper">
    <div class="row title_slider">
        <div class="col-lg-7 col-md-7 col-sm-7 col-12 ">
            <div class="service_name">
                <h1 class="page_title @name.ToLower()_text"><b>@Model.Value("heading")</b></h1>
                <p class="black_text">@Model.Value("subHeading")</p>
                <div class="work_btn">
                    <a href="#" class="btn contact_orange_btn @name.ToLower()_them_color @name.ToLower()_border white_text" role="button">@Model.Value("buttonText")</a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-12 ">
            <div class="slider_logo">
                <img src="@selectedIcon.Url" class="img-fluid" alt="@Model.Name">
            </div>
        </div>
    </div>
</section>
