@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;

<section class="main_services">
    <div class="container">
        <div class="service_heading">
            <h1 class="black_text text-center">@Model.GetProperty("heading").Value()</h1>
        </div>
        @{
            var serviceNavi = Model.Children.Where(x => x.IsVisible());
            int counter = 2;
            foreach (var nav in serviceNavi)
            {
                var selectedImg = nav.Value<IPublishedContent>("landingPageImage");
                if (counter % 2 == 0)
                {
                    <div class="service_detail">
                        <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-8 col-12 service_des wow fadeInLeft" data-wow-duration="2s">
                                        <div class="service_block">
                                            <h4 class="services_text text-center services_them_color white_text">@nav.Name</h4>
                                            <p class="p_text">
                                                @nav.GetProperty("homePageDescription").Value()
                                            </p>
                                        </div>
                                        <!--<div class="line_bottom"></div>-->
                                    </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 service_images">
                                <div class="wow fadeInRight" data-wow-duration="4s">
                                    <img src="@selectedImg.Url" class="img-fluid" alt="@selectedImg.Name">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="service_detail">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-4 service_images">
                                <div class="wow fadeInLeft" data-wow-duration="4s">
                                    <img src="@selectedImg.Url" class="img-fluid" alt="@selectedImg.Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-12 service_des wow fadeInRight" data-wow-duration="2s">
                                <div class="service_block">
                                    <h4 class="services_text text-center services_them_color white_text">@nav.Name</h4>
                                    <p class="p_text">
                                        @nav.GetProperty("homePageDescription").Value()
                                    </p>
                                </div>
                                @*<div class="line_bottom"></div>*@
                            </div>
                        </div>
                    </div>
                }
                counter++;
            }
        }
    </div>
</section>
