@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using Umbraco.Web.Composing;
@using Umbraco.Core;
@using Umbraco.Core.PropertyEditors.ValueConverters;
@{
    Layout = null;
    var selectedmodel = Model;
    var site = Model.Root();
    var select = site.Children.Where(x => x.Id == 1258 || x.Id == 1259 || x.Id == 1613);
    var selection = site.Children.Where(x => x.IsVisible()).Except(select);
    var name = Model.Level == 1 ? Model.Name : Model.Level == 2 ? Model.Name : Model.Level == 3 ? (Model.Parent.Name.ToLower() == "services" ? Model.Name : Model.Parent.Name) : Model.Level == 4 ? (Model.Parent.Parent.Name.ToLower() == "services" ? Model.Parent.Name : Model.Parent.Parent.Name) : "";
    name = @name.ToLower() == "privacy policy" ? "terms & conditions_header" : name.ToLower() == "data science" || name.ToLower() == "404 page not found" ? "data_header" : name.ToLower() + "_header";
    var altText = "";
}

<!--
    Text Animation Reference
    colorful water filling effect in text using css
    https://tympanus.net/codrops/2015/02/16/create-animated-text-fills/
-->

<section class="@name">
    <div class="header_section">
        <div id="header_wrapper">
            <!--Progress Bar-->
            <div class="scroll-container">
                <div class="scroll-bar" id="top_scrollbar"> </div>
            </div>

            <div id="header" class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div id="logo">
                            <a href="@site.Url" rel="home" title="Home">
                                @{
                                    var typedMediaPickerSingle = site.Value<IPublishedContent>("siteLogo");
                                    if (typedMediaPickerSingle != null)
                                    {
                                        altText = (string)(typedMediaPickerSingle.Value("altText").ToString() != "" ? typedMediaPickerSingle.Value("altText") : typedMediaPickerSingle.Name);
                                        <img src="@typedMediaPickerSingle.Url" width="225" alt="@altText" />
                                    }
                                }
                            </a>
                        </div>

                        <div class="work_btn">
                            <a href="#" id="RequestBtn" class="btn contact_orange_btn white_text" role="button" data-toggle="modal" data-backdrop="static" data-target="#biz_quate">Request a Quote</a>
                            <a href="#" id="DemoBtn" class="btn contact_orange_btn white_text" role="button" data-toggle="modal" data-backdrop="static" data-target="#biz_consumer">Get a Demo </a>
                        </div>
                        <!--Generating Navigation Button -->
                        <a id="nav-toggle" href="#">
                            <span></span>
                        </a>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <nav class="overlay overlay-nav">
                            <ul class="nav-main">
                                @{
                                    var isChecked = false;
                                    string color = "";
                                    int index = -1;
                                    var NavImages = site.Value<IEnumerable<IPublishedContent>>("navImages");
                                    foreach (var nav in selection)
                                    {
                                        index++;
                                        isChecked = nav.Value<bool>("dockMe");
                                        string[] colors = { "Green", "Blue", "Orange", "Purple" };
                                        color = colors[index].ToLower();
                                        var myClass = @nav.Name.ToLower();
                                        var selectedColor = "nav-" + color.ToString();
                                        var selectedNavColor = "a-" + color.ToString();
                                        <li style="display:none"></li>
                                        //Put try Catch here As, when x.Name does not contains anything it will throw an error
                                        var selectedBackground = NavImages.FirstOrDefault(x => x.Name.ToLower() == nav.Name.ToLower());
                                        <li class="@myClass"
                                            style="background: url(@selectedBackground.Url) no-repeat;
                                           background-size: cover">
                                            <a class="@selectedColor" href="@nav.Url">/@nav.Name</a>
                                            @if (nav.Children.Any(x => x.IsVisible()))
                                            {
                                                <ul class="@selectedNavColor">
                                                    @foreach (var subNav in nav.Children.Where(x => x.IsVisible()))
                                                    {
                                                        <li><a href="@subNav.Url">@subNav.Name</a></li>
                                                    }
                                                    @if (isChecked == true)
                                                    {
                                                        var links = (List<Umbraco.Web.Models.Link>)site.GetProperty("externalLinks").Value();
                                                        var socialIcons = site.Value<IEnumerable<IPublishedContent>>("socialIcons");
                                                        if (links.Count() > 0)
                                                        {
                                                            <li>
                                                                <ul class="social-networks">
                                                                    @{
                                                                        foreach (var link in links)
                                                                        {
                                                                            var imageItem = socialIcons.FirstOrDefault(x => x.Name.ToLower() == link.Name.ToLower() + " header"); <!--Instead of using second For Loop we used Lamda Expression to make our code runs faster. Try to skip two for loops in your code.-->
                                                                            <li>
                                                                                <a rel="noreferrer" href="@link.Url" target="@link.Target">
                                                                                    <img src="@imageItem.Url" data-toggle="tooltip" title="@link.Name" alt="@imageItem.Value("altText")">
                                                                                </a>
                                                                                <!-- Instead of using rel="stylesheet" I am using rel= "noopener" or rel= "noreferrer" to all External Links to improve performance and prevent security vulnerabilities. -->
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            }
                                        </li>
                                        @Html.Partial("_ApplyStyle", nav);
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

